<div class="span12">
	<div class="question">
		<%= link_to("Edit", edit_question_path(@question), :class => "btn btn-mini btn-primary pull-right") %>
	</div>

	<h2> <%= @question.title %></h2>
	<p> <%= @question.category %> </p>
	<p> <%= @question.img %> </p>
	<p> <%= @question.answer %> </p>
	<% if @question.attachment? %>
		<p><%= image_tag @question.attachment.url(:thumb) %></p>
	<% end %>
</div>