<div class="span12">
	<div class="reinforcement">
		<%= link_to("Edit", edit_reinforcement_path(@reinforcement), :class => "btn btn-mini-btn-primary pull-right")%>
	</div>

	<h2> <%= @reinforcement.title %> </h2>
	<p> <%= @reinforcement.description %></p>

	<p> <%= @reinforcement.url %></p>
	
	<% if @reinforcement.attachment? %>
		<%= image_tag @reinforcement.attachment.url %>
	<% end %>

</div>